body {
	font-family: sans-serif;
}

#console-window {
/* Stylize the console window */
	background-color: black;
	color: green;
	font-family: "Lucida Console", Monaco, monospace;

/* Set width and height */
	height: 24em;
	width: 80ch;
	max-height: 24em;
	max-width: 80ch;

/* Make it scroll like a proper console */
	overflow-x: hidden;
	overflow-y: scroll;
}
