body {
	font-family: sans-serif;
	background-color: #222222;
	color: white;
}

a:link, a:visited {
	color: green;
}

a:hover {
	color: #55ff55;
}

h1 {
	padding: 1em 1em 1em 1em;
	font-family: "Lucida Console", Consolas, Monaco, monospace;
	color: green;
	background-color: black;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

button {
	margin-bottom: .5em;
	margin-top: .5em;
	color: green;
	background-color: black;
	padding: 5px 10px;
	border: 0 none;
	border-radius: .25em;
}

#console-window {
	background-color: black;
	color: green;
	font-family: "Lucida Console", Consolas, Monaco, monospace;
	height: 24em;
	width: 80ch;
	max-height: 24em;
	max-width: 80ch;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 0 1em;
	border-top: 1em solid black;
	border-right: 1em solid black;
	border-bottom: 1em solid black;
}
